*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(51, 51, 51);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 400px;
    height: 600px;
    background-color: rgba(253, 109, 109, 0.781);
    border-radius: 20px;
}
.img{
    width: 300px;
    margin-left: 50px;
    margin-top:20px ;
    border-radius: 20px;
    
}

h2{
    c

h2:hover{
    color: yellow;
}

h4{
        text-align: center;
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
h4:hover{
    color: aquamarine;
    font-size: 30px;
}